apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: generated-appset
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: 'https://github.com/air-hand/k8s-playground.git'
      revision: $CURRENT_BRANCH
      directories:
        - path: 'apps/namespace'
        - path: 'apps/secret-operator'
        - path: 'apps/arc'
  template:
    metadata:
      name: 'app-{{path.basename}}'
    spec:
      #project: '{{path.basename}}'
      project: default
      source:
        repoURL: 'https://github.com/air-hand/k8s-playground.git'
        targetRevision: $CURRENT_BRANCH
        path: '{{path}}'
      destination:
        server: 'https://kubernetes.default.svc'
        namespace: default
#      syncPolicy:
#        automated:
#          prune: true
#          selfHeal: true
