apiVersion: v1
kind: Secret
metadata:
  name: awssm-secret
  namespace: arc-runners
type: Opaque
stringData:
  access-key: KEYID
  secret-access-key: SECRETKEY
---
apiVersion: v1
kind: Secret
metadata:
  name: awssm-secret
  namespace: k3s-setup
type: Opaque
stringData:
  access-key: KEYID
  secret-access-key: SECRETKEY
